@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body.modal-open{
    height: 100vh;
    overflow: hidden;
}

.inlineCode {
    background-color: rgb(236, 236, 236);
    padding: 0 3px;
    border-radius: 2px;
}

// Remove select
.unselectable {
    user-select: none; 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Safari */
}

// pagination

.ngx-pagination{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px !important;

    li:not(:last-child){
        margin-right: 4px !important;
    }
    li{
        border: 1px solid #BABFC5;
        border-radius: 4px !important;
        overflow: hidden;
    }

    li.current{
        border-radius: 4px !important;
        border-color: #D12525;
        background-color: #D12525;
        padding: 6px 9px !important;
    }

    a{
        padding: 6px 9px !important;
    }
}
.pagination-previous a{
    &::before{
        content: '' !important;
        display: none !important;
    }
}

.pagination-previous.disabled,
.pagination-next.disabled{
    display: none;
}

.pagination-next a{
    &::after{
        content: '' !important;
        display: none !important;
    }
}