@charset "UTF-8";
.title {
  font-family: 'Inter', sans-serif;
  color: #990C0C;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 26px;
  max-width: 933px;
}

.questionInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter', sans-serif;
}

.questionInfo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
  font-size: 20px;
}

.questionInfo__block__static {
  color: #000;
  font-weight: 400;
  margin-right: 8px;
}

.questionInfo__block__reactive {
  color: #990C0C;
  font-weight: 600;
}

.questionFlex {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  padding-bottom: 24px;
  border-bottom: 1px solid #FFC2C2;
  margin-bottom: 20px;
}

.question__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  margin-top: 35px;
}

.question__statistics__btn {
  width: 46px;
  height: 46px;
}

.question__statistics__btn--minus {
  rotate: 180deg;
}

.question__statistics__number {
  font-size: 36px;
  font-weight: 700;
  line-height: 29px;
  margin: 15px 0;
}

.question__statistics__save {
  margin-top: 30px;
}

.question__desc {
  width: 847px;
}

.question__desc__text {
  font-size: 19px;
  line-height: 29px;
}

.question__desc__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
}

.question__desc__info__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__desc__info__tags__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 11px;
  background-color: #FDEDF1;
  color: #D12525;
  border-radius: 6px;
  margin-right: 27px;
  max-height: 32px;
  text-align: center;
}

.question__desc__info__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question__desc__info__user__text {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.question__desc__info__user__text__nickname {
  margin-top: 17px;
  color: #990C0C;
  font-size: 20px;
  font-weight: 700;
}

.question__desc__info__user__text__time {
  font-size: 14px;
  font-weight: 500;
}

.question__desc__info__user__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.question__desc__info__user__avatar__img {
  width: 66px;
  height: 66px;
}

.answerQuanity {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #990C0C;
  margin-left: 87px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #FFC2C2;
  position: relative;
  margin-top: 30px;
}

.answer__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  margin-bottom: 23px;
}

.answer__statistics__btn {
  width: 46px;
  height: 46px;
}

.answer__statistics__btn--minus {
  rotate: 180deg;
}

.answer__statistics__number {
  font-size: 36px;
  font-weight: 700;
  line-height: 29px;
  margin: 15px 0;
}

.answer__statistics__save {
  margin-top: 30px;
}

.answer__block {
  width: 847px;
  position: relative;
}

.answer__block__text {
  line-height: 29px;
  font-size: 20px;
  color: #000;
}

.answer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 23px;
}

.answer__user__text {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.answer__user__text__nickname {
  margin-top: 17px;
  color: #990C0C;
  font-size: 20px;
  font-weight: 700;
}

.answer__user__text__time {
  font-size: 14px;
  font-weight: 500;
}

.answer__user__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.answer__user__avatar__img {
  width: 66px;
  height: 66px;
}

.questionMark {
  position: absolute;
}

.questionMark--1 {
  left: -130px;
  bottom: 40px;
  rotate: 50deg;
}

.questionMark--2 {
  left: -280px;
  bottom: 200px;
  rotate: 140deg;
}

.yourAnswer {
  position: relative;
  margin-top: 64px;
  margin-left: 87px;
  font-family: 'Inter', sans-serif;
}

.yourAnswer__img {
  position: absolute;
  left: -460px;
  top: -30px;
}

.yourAnswer__twoMarks {
  position: absolute;
}

.yourAnswer__twoMarks--big {
  top: -80px;
  right: 40px;
  rotate: 60deg;
}

.yourAnswer__twoMarks--little {
  right: 140px;
  top: -90px;
  rotate: -10deg;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.yourAnswer__title {
  font-size: 36px;
  line-height: 29px;
  color: #990C0C;
  font-weight: 700;
  margin-bottom: 42px;
}

.yourAnswer__form {
  position: relative;
}

.yourAnswer__form__textarea {
  border-radius: 6px;
  border: 2px solid #990C0C;
  background-color: #fff;
  width: 846px;
  padding-left: 6px;
  line-height: 23px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 343px;
  height: 343px;
  overflow-y: hidden;
  /* Скрыть вертикальный скролл */
  resize: none;
}

.yourAnswer__form__textarea:focus {
  outline: none;
}

.yourAnswer__form__error {
  position: absolute;
  font-weight: 600;
  color: #990C0C;
}

.yourAnswer__form__post {
  display: block;
  margin-top: 52px;
  padding: 18px 20px;
  background-color: #990C0C;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.open__modal {
  display: block;
  margin-top: 10px;
  padding: 18px 20px;
  background-color: #990C0C;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.highlight {
  background-color: grey;
}
/*# sourceMappingURL=question-page.component.css.map */