.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    &__content{
        background: white;
        padding: 20px;
        border-radius: 5px;
    }
}

.modal__title{
    color: #990C0C;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.modal__description{
    font-size: 18px;
}

.modal__bts{
    margin-top: 24px;
    display: flex;

    &__btn{
        padding: 10px;
        border-radius: 6px;
        font-weight: 700;
        font-size: 20px;

        &--close{
            color: grey;
            border: 2px solid gray;
            margin-right: 30px;
            
            &:hover{
                background-color: rgb(240, 240, 240)
            }
        }

        &--delete{
            color: #fff;
            background-color: #990C0C;
            border: 2px solid #990C0C;

            &:hover{
                background-color: #a72a2a;
                border-color: #a72a2a;
            }
        }
    }
}
  