.users{
    width: 948px;
    font-family: 'Inter', sans-serif;

    &__title{
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 39px;
    }

    &__settings{
        display: flex;
        margin-bottom: 34px;

        &__search{
            margin-right: 211px;
            border-radius: 6px;
            border: 1px solid #D12525;
            padding: 10px 0px 10px 10px;
            display: flex;

            &__btn{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 6px;
            }

            &__input{
                color: #D12525;
                width: 280px;

                &::placeholder{
                    color: rgba($color: #D12525, $alpha: 0.5);
                }
            }
        }

        &__sort{
            border-radius: 6px;
            border: 1px solid #FFC2C2;

            &__btn{
                padding: 10px 12px;
                border-left: 1px solid #FFC2C2;

                &:first-child{
                    border: none
                }
            }
        }
    }

    &__block{
        margin-top: 50px;
        &__item{
            width: 842px;
            display: flex;

            &:not(:last-child){
                border-bottom: 1px solid #FFC2C2;
                padding-bottom: 30px;
            }
            &:not(:first-child){
                padding-top: 30px;
            }

            &__avatar{
                border-radius: 50%;
                width: 165px;
                height: 165px;
                margin-right: 22px;
            }
            &__info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                &__nickname{
                    font-weight: 700;
                    font-size: 27px;
                    color: #E93737;
                }

                &__btns{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    width: 100%;

                    &__message{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 131px;
                        height: 29px;
                        border-radius: 6px;
                        border: 1px solid #D12525;
                        color: #D12525;
                        font-size: 16px;
                    }

                    &__btn{
                        width: 174px;
                        height: 36px;
                        border-radius: 6px;
                        background-color: #E93737;
                        color: #fff;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &--unfriend{
                            background-color: rgba($color: #000000, $alpha: .5);
                        }
                        &--reply{
                            background-color: #D12525;
                        }
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

}