<aside class="sidebar" >
    <nav class="sidebar__nav">
        <ul class="sidebar__nav__list">
            <li 
                routerLink="/home"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/home.svg" alt="">
                <div>Home</div>
            </li>
            <li 
                routerLink="/users"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/users.svg" alt="">
                <div>Users</div>
            </li>
            <li 
                routerLink="/tags"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/tags.svg" alt="">
                <div>Tags</div>
            </li>
            <li 
                routerLink="/chats"
                routerLinkActive="active"
                class="sidebar__nav__list__row">
                <img src="../../../assets/images/Sibebar/chats.svg" alt="">
                <div>Chats</div>
            </li>
            <li 
                routerLink="/saves"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/saves.svg" alt="">
                <div>Saves</div>
            </li>
            <li 
                routerLink="friends"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/friends.svg" alt="">
                <div>Friends</div>
            </li>
        </ul>
    </nav>

    <!-- @if(isMouseOverSidebar){
        <div 
            class="crollbar"
            [@scrollbarAnimation]
        >
        </div>
    } -->
</aside>