<aside class="sidebar" >
    <nav class="sidebar__nav">
        <ul class="sidebar__nav__list">
            <li 
                (click)="reset()"
                routerLink="/home"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/home.svg" alt="">
                <div>Home</div>
            </li>
            <li 
                (click)="reset()"
                routerLink="/users"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/users.svg" alt="">
                <div>Users</div>
            </li>
            <li    
                (click)="reset()"
                routerLink="/tags"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/tags.svg" alt="">
                <div>Tags</div>
            </li>
            <li 
                (click)="reset()"
                routerLink="/chats"
                routerLinkActive="active"
                class="sidebar__nav__list__row">
                <img src="../../../assets/images/Sibebar/chats.svg" alt="">
                <div>Chats</div>
            </li>
            <li 
                (click)="reset()"
                routerLink="/saves"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/saves.svg" alt="">
                <div>Saves</div>
            </li>
            <li 
                (click)="reset()"
                routerLink="friends"
                routerLinkActive="active"
                class="sidebar__nav__list__row"
            >
                <img src="../../../assets/images/Sibebar/friends.svg" alt="">
                <div
                    class="sidebar__nav__list__row__hasCount"
                >
                @if (this.friendsService.friendRequestsCount && this.authService.isAuthSig()) {
                    <div class="sidebar__nav__list__row__count">
                        {{this.friendsService.friendRequestsCount > 99 
                        ? '99+'
                        : this.friendsService.friendRequestsCount}}
                    </div>
                }
                    Friends
                </div>
            </li>
        </ul>
    </nav>

    <!-- @if(isMouseOverSidebar){
        <div 
            class="crollbar"
            [@scrollbarAnimation]
        >
        </div>
    } -->
</aside>